.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.list-group {
  list-style-type: none; /* hides the bullet points */
  counter-reset: list; /* resets the counter to 0 */
}

.list-group a::before {
  counter-increment: list; /* increments the counter by 1 */
  content: counter(list) ". "; /* displays the counter value before each "a" tag */
  color: transparent; /* makes the counter value invisible */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
